.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/.taskListIndex/write.lock
.metadata/.plugins/org.eclipse.core.resources/.history/0/3017c4aa4ee6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/1/60617a60efe6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/10/400e252e4fe6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/15/e07747f1fae6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/17/50a158de4fe6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/1a/b089d3d5eee6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/22/80ed46d605e7001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/23/408d0349eae6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/26/a081f19849e6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/29/a0df8c07fae6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/2c/60ba911fe8e6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/2d/d0bfb801ece6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/2e/8049b2824ce6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/3/8072c8fcece6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/31/e0bbe1c84ae6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/33/a0ddcd66ede6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/34/c074a12e50e6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/37/8085e1a54fe6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/38/905420dcffe6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/3b/d0e6c3d0eae6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/3c/30ca553250e6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/3d/20845b10efe6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/3e/c02aa6e64be6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/3f/40c95c77eae6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/41/9063a2e3eee6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/41/f062162106e7001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/42/e0dd508d03e7001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/43/303d93bf4ee6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/44/e0377de84fe6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/46/301c5926e8e6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/4a/20345027ede6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/4d/f085b70300e7001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/4e/4047412954e6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/4e/b0efad40fde6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/5/a01e1324fae6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/50/80a6aad3ffe6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/50/30084e9c4be6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/5d/a0ba6f4252e6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/60/c005e80051e6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/61/10d5f079ffe6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/68/60e83cc64fe6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/69/e07c7c0debe6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/6b/f0911df9f7e6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/6c/f0c4ffbfeee6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/71/609d3e9104e7001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/74/e06844a9fae6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/76/8074721406e7001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/7b/00a06f484de6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/7c/40e8b616f0e6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/8/40164f56fee6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/87/b09aebebffe6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/87/f099aaf453e6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/8a/00107ecdfde6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/8a/206237e24fe6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/8e/a089360351e6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/9/d0182a8dffe6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/91/8048d6414ce6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/92/10a575f8eae6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/93/301c987352e6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/94/200d3ebd4fe6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/94/f0d6fe8805e7001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/9c/008ca65e50e6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/9d/b05b1af605e7001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/9e/50217ecbfde6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/9f/00b63eceffe6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/a3/00db6897e7e6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/a4/808527ac53e6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/ae/300f18a152e6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/b/30e67e2aeae6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/b5/70e56c5d4ee6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/b8/5027eb4a4de6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/ba/70fd60a305e7001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/bb/d0deff314ce6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/bc/c052ac3551e6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/be/80e66eaaf7e6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/be/300f457f4ce6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/bf/40fd03f24ee6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/c0/80db1cb701e7001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/c1/f0a8a803ece6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/c2/a03d776201e7001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/c3/b0f1bcfefbe6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/c4/503def8552e6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/c5/907e15804ce6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/c7/d0793a0a02e7001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/c9/30d5b1174fe6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/ca/60953359fae6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/ca/9037186650e6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/cb/00dbf214f9e6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/cb/3075688e4fe6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/cb/f07441e5ebe6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/cc/50e5776b4be6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/cc/9073487a52e6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/cd/10130122f0e6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/d/304220ca01e7001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/d/e07ef02eefe6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/d4/d0172175efe6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/d9/30fe985c4fe6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/dc/20a173e5eee6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/dd/f003ce53eee6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/df/2087ec1604e7001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/e1/809486cbf7e6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/e7/20cdb20d01e7001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/e7/80dd8ef94be6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/ec/401f9f6a50e6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/ef/007c38f64ae6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/f0/204c82ea4ee6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/f1/90cfd1e604e7001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/f4/50b6251451e6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/f5/502680f2f7e6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/f6/203023e24ae6001f17328004cbeb1762
.metadata/.plugins/org.eclipse.core.resources/.history/f8/d05207bffce6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.history/fd/00072687ffe6001f1658a9d46461a92b
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/Simulador_Trafico_v0/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/Simulador_Trafico_v0/.indexes/e4/fc/29/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Simulador_Trafico_v0/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/7.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.workbench.renderers.swt.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.monitoring.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/CityRoadTest.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.jdt.core/14953516.index
.metadata/.plugins/org.eclipse.jdt.core/120445510.index
.metadata/.plugins/org.eclipse.jdt.core/253593368.index
.metadata/.plugins/org.eclipse.jdt.core/395017303.index
.metadata/.plugins/org.eclipse.jdt.core/939066665.index
.metadata/.plugins/org.eclipse.jdt.core/1219898627.index
.metadata/.plugins/org.eclipse.jdt.core/1549374529.index
.metadata/.plugins/org.eclipse.jdt.core/1712072978.index
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/2241020527.index
.metadata/.plugins/org.eclipse.jdt.core/2544140875.index
.metadata/.plugins/org.eclipse.jdt.core/2727383485.index
.metadata/.plugins/org.eclipse.jdt.core/3149136470.index
.metadata/.plugins/org.eclipse.jdt.core/3187875900.index
.metadata/.plugins/org.eclipse.jdt.core/3255790904.index
.metadata/.plugins/org.eclipse.jdt.core/3376753111.index
.metadata/.plugins/org.eclipse.jdt.core/3558715550.index
.metadata/.plugins/org.eclipse.jdt.core/3583288511.index
.metadata/.plugins/org.eclipse.jdt.core/3603563422.index
.metadata/.plugins/org.eclipse.jdt.core/3690156072.index
.metadata/.plugins/org.eclipse.jdt.core/3803894794.index
.metadata/.plugins/org.eclipse.jdt.core/4149002196.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2025/2/6/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2025/2/6/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Simulador_Trafico/2025/1/5/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Simulador_Trafico/2025/1/5/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.logback/0.log
.metadata/.plugins/org.eclipse.m2e.logback/logback.2.6.1.20240411-1122.xml
.metadata/.plugins/org.eclipse.mylyn.github.ui/avatars.ser
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.search/dialog_settings.xml
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
